{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
{% include "menu.html" %}
    <div class="container">
        <div class="mt-5">
            <div class="row">
                <div class="col-12">
                        <h1 class="text-center mb-5">Reset Password</h1>
                        <div class="offset-xl-4 offset-lg-4 offset-md-4 col-xl-4 col-lg-4 col-md-4 col-12">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            
                            {{ demo }}
                            <form method="POST" action="{{ url_for('admin_reset_password') }}">
                                <div class="form-group">
                                    {{ form.password.label() }}
                                    {{ form.password(class="form-control", placeholder="Password") }}
                                    {% if form.password.errors %}
                                        {% for error in form.password.errors %}
                                            <p class="error text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.confirm_password.label() }}
                                    {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                                    {% if form.confirm_password.errors %}
                                        {% for error in form.confirm_password.errors %}
                                            <p class="error text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {{ form.csrf_token }}
                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}